
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url("navbar.css");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  max-width: 2200px;
  background-color: rgb(99, 131, 180);
  font-family: 'Special Elite';
  margin: 0 ;
  margin: auto;
}
h1{
  color: white;
  margin: 0;
  font-size: 3rem;
}
h2{
  color: #1C1C1C;

  font-size:2rem;
}
h3{
  color: #FF6F6F;
  margin: 0;
  font-size: 2rem;
}

p{
  font-size: 20px;
}
.banner{
  display: flex;
  align-items: center;
  padding: 92px 20px;
  background-color: #1C1C1C;
}

.section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 20px ;
  flex-wrap: wrap;
}
.section-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  width: 100%;
  margin: 0 20px 20px 20px;
}

.section-card > img{
  height: 500px;
  aspect-ratio: 1;
  object-fit: cover;

}


@media(max-width:768px){

  .section-card{
    flex-direction: column;
  }
  .section-card h2{
    margin: 50px 0;
  }
}
.footer{
  height: 300px;
  background-color: #FF6F6F;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  text-align: center;
}
.footer p{
font-size: 25px;
margin: 10px 0;

}
.footer
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
li{
  margin: 0;
  font-size: 25px;
}

iframe{
  display: block;
  margin-bottom: 0px !important;
}
